<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href={% url "inicio" %}>inicio</a>
        <a href={% url "alta_paciente" %}>alta paciente</a>
        <a href={% url "pacientes" %}>pacientes</a>
    </nav>
    <h1>listado de pacientes</h1>
    <p>
    <ul>
        {%for pacientes in pacientes%}
          {% if pacientes.glucemia > 110%}
            <li style="color:red">{{pacientes}}</li>
          {% else %}
            <li style="color:green">{{pacientes}}</li>
          {% endif %}
        {% endfor %}
    </ul>
    </p>
</body>
</html>